@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;400&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Georgia, 'Times New Roman', Times, serif ;
}
.navbar{
    width: 100%;
    height: 75px;
    background-color: #008080;
}

.navbar-container{
    display: flex;
    align-items: center;
    padding: 0 50px;
    height: 100%;
    color: white;
}

.logo-container {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center; 
}

.logo {
    max-width: 70%; 
    height: auto; 
    display: block;
}

.menu-container{
    flex: 6;
    
}

.menu-list{
   display: flex; 
   list-style: none;
}
.menu-list-item a {
    text-decoration: none; 
    color: #ffffff; 
    font-weight: bold; 
    font-size: 18px; 
    transition: color 0.3s; 
}



.menu-list-item {
    margin-right: 30px;
 }

 .menu-list-item.active{
    font-weight: bold;
 }

.profile-container{
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.profile-text-container{
    margin: 0 20px;

}

.profile-picture{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
}


.toggle{
    width: 40px;
    height: 20px;
    background-color: white;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
}

.toggle-icon{
    color: goldenrod;
}

.toggle-ball{
    width: 18px;
    height: 18px;
    background-color: black;
    position: absolute;
    right: 1px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.1s ease all;
}

.sidebar{
    width: 50px;
    height: 100%;
    background-color: #008080;
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 60px;
}

.left-menu-icon{
    color: white;
    font-size: 20px;
    margin-bottom: 40px;
}

.container{
    background-color: rgb(15, 15, 15);
    min-height: calc(00vh - 50px);
    color: white;
    
    
}

.content-container{
    margin-left: 50px;
    
}


.featured-content {
    height: 70vh;
    padding: 50px;
    background-position: center;
    background-size: cover;
}
.featured-title{
    width: 200px;
}

.featured-desc{
    width: 500px;
    color: lightgray;
    margin: 30px 0;
}

.featured-button {
    background-color: black;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    outline: none;
    font-weight: bold;
    cursor: pointer; 
    transition: background-color 0.3s; 
    font-size: 16px; 
}

.featured-button:hover {
    background-color: darkgray;
}

.featured-button:active {
    background-color: gray;
    transform: translateY(2px); 
}


.left-menu-icon:hover {
    
    color: orange; 
    cursor: pointer;
}

.movie-list-container {
    margin-bottom: 30px;
    padding:  20px;
}

.movie-list-wrapper {
    position: relative;
    padding: 0 20px; 
   overflow: hidden;
}

.movie-list {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    height: 300px;
    margin: 0 -10px; 
    transform: translateX(0);
    transition: all 1s ease-in-out;
}

.movie-list-item {
    margin-right: 30px;
    position: relative;
    margin: 0 10px; 
}

.movie-list-item:hover .movie-list-item-img{
    transform: scale(1.2);
    margin: 0 30px;
    opacity: 0.5;
}

.menu-list-item {
    padding: 10px 20px;
    margin: 5px 0;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    background: linear-gradient(to right,  #008080, #36454F);
    color: #FFF;
    font-weight: bold;
    transition: transform 0.3s, box-shadow 0.3s, background 0.3s;
}

.menu-list-item:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.menu-list-item.active {
    background: linear-gradient(to right, #36454F, #008080);
}

.menu-list-item img {
    max-width: 20px;
    vertical-align: middle;
    margin-right: 5px;
}


.movie-list-item:hover .movie-list-item-title,
.movie-list-item:hover .movie-list-item-desc,
.movie-list-item:hover .movie-list-item-button{
    opacity: 1;
}

.movie-list-item-img{
    width: 200px;
    height: 270px;
    object-fit: cover;
    transition: all 1s ease-in-out;
    border-radius: 20px;
}

.movie-list-item-title {
    background-color: #333;
    padding: 0 10px;
    font-size: 32px;
    font-weight: bold;
    position: absolute;
    top: 10%;
    left: 10px;
    opacity: 0;
    transition: 1s all ease-in-out;
}

.movie-list-item-title{
    background-color: #333;
    padding: 0 10px;
    font-size: 25px;
    font-weight: bold;
    position: absolute;
    top: 10%;
    left: 10px;
    opacity: 0;
}

.movie-list-item-desc {
    background-color: #333;
    padding: 10px;
    font-size: 12px;
    position: absolute;
    top: 30%;
    left: 10px;
    opacity: 0;
    width: 230px;
}

.movie-list-item-button {
    padding: 10px 20px;
    background-color: #333; 
    color: white;
    border-radius: 10px;
    outline: none;
    border: none;
    cursor: pointer;
    position: absolute;
    bottom: 20px;
    left: 20px;
    transition: background-color 0.3s; 
    font-size: 16px; 
}

.movie-list-item-button:hover {
    background-color:#008080; 
    transform: scale(1.05); 
}

#userEmail {
    font-weight: bold;
    color: #007BFF;
}

.arrow{
    font-size: 120px;
    position: absolute;
    top: 90px;
    right: 0;
    color: light grey;
    opacity: 0.5;
    cursor: pointer;
}

.arrow-left {
    font-size: 120px;
    position: absolute;
    top: 90px;
    left: 0;
    color: light grey;
    opacity: 0.5;
    cursor: pointer;
    z-index: 20;
}

.container.active{
    background-color: white;
}

.movie-list-title.active{
    color: black;
}


.navbar-container.active{
    background-color: white;
    color: black;
}

.sidebar.active{
    background-color: white;
}

.left-menu-icon.active{
    color: black;
}


.toggle.active{
    background-color: black;

}

.toggle-ball.active{
    background-color: white;
    transform: translateX(-20px);
}

@media only screen and (max-width: 940px){
    .menu-container{
        display: none;
    }
}


.profile-container {
    position: relative;
}

.profile-text-container {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 8px;
}

.profile-dropdown {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    top: 40px; 
    right: 0;
    border-radius: 8px;
    overflow: hidden;
}

.profile-dropdown a {
    color: #333;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    transition: background-color 0.3s;
}

.profile-dropdown a:hover {
    background-color: #f5f5f5;
}

.profile-container:hover .profile-dropdown {
    display: block;
}

.movie-list-item-rating {
    color: #008080; 
    font-size: 16px; 
    font-weight: bold; 
    margin-top: 5px; 
}

.movie-list-item-watchlist-button {
    padding: 10px;
    background-color: #007bff;
    color: white;
    border-radius: 10px;
    outline: none;
    border: none;
    cursor: pointer;
    position: absolute;
    bottom: 20px;
    left: 90px; 
    transition: background-color 0.3s ease;
    width: 80px;
    height: 38px;
}

.movie-list-item-watchlist-button:hover {
    background-color:#008080; 
    transform: scale(1.05); 
}




/* 
main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
} */

.movie {
    width: 300px;
    margin: 1rem;
    border-radius: 3px;
    box-shadow: 0.2px 4px 5px rgba(0, 0, 0, 0.1);
    background-color: var(--secondary-color);
    position: relative;
    /* overflow: hidden; */
    margin-right: 30px;
    position: relative;
    margin: 0 10px;  
}
  
  
.movie img {
    width: 200px;
    height: 270px;
    object-fit: cover;
    transition: all 1s ease-in-out;
    border-radius: 20px;
}
  
  .movie-info {
    color: #eee;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem 1rem;
    letter-spacing: 0.5px;
  }
  
  .movie-info h3 {
    margin-top: 0;
  }
  
.movie-info span {
    background-color: var(--primary-color);
    padding: 0.25rem 0.5rem;
    border-radius: 3px;
    font-weight: bold;
}

  
.overview {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    padding: 1rem;
    max-height: 100%;
    transform: translateY(101%);
    transition: transform 0.3s ease-in;
    cursor: pointer;
    user-select: none;
    color: #008080;
  }
  
  .overview h3 {
    color: #36454F;
    cursor: pointer;
    text-align: center;
    font-weight: bold;
  }
  
  .movie:hover .overview {
    transform: translateY(0)
  }

  
  .know-more {
    display: inline-block;
    background-color: rgb(46, 46, 46);
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin-top: 10px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s;
    text-decoration: none;
}

.know-more:hover {
    background-color: #005959;
}

  
  .footer {
    background-color: #333;
    color: #fff;
    padding: 40px 0;
    text-align: center;
  }
  
  .footer-content {
    margin-bottom: 20px;
  }
  
  .footer-logo img {
    max-width: 150px;
    display: block;
    margin: 0 auto 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .footer-links ul {
    list-style: none;
    padding: 0;
  }
  
  .footer-links li {
    margin-bottom: 10px;
  }
  
  .footer-links a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s;
    display: block;
  }
  
  .footer-links a:hover {
    color: #ccc;
  }
  
  .footer-social ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
  }
  
  .footer-social li {
    margin: 0 10px;
  }
  
  .footer-social a {
    color: #fff;
    text-decoration: none;
    font-size: 24px;
    transition: color 0.3s;
  }
  
  .footer-social i:hover {
    color: #ccc;
  }
  
  .add-to-watchlist {
    display: inline-block;
    background-color: #007bff;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin-top: 10px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s;
    text-decoration: none;
}

.add-to-watchlist:hover {
    background-color: #005959;
}

.alert-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 999;
    display: none;
}

.alert-container.active {
    display: block;
    animation: slideIn 0.5s ease;
}

@keyframes slideIn {
    from {
        transform: translateY(100%);
    }
    to {
        transform: translateY(0);
    }
}

.alert-message {
    font-size: 16px;
    font-weight: bold;
}

.alert-close {
    cursor: pointer;
    font-size: 20px;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
}
